.spring-pendulum {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-rows: calc(68% - 15px) calc(32% - 15px);
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px;
  margin: 0;
  min-height: calc(100vh - 100px);
  padding-top: 100px;
  padding-bottom: 30px;

  @include viewport--sm {
    display: flex;
    flex-direction: column;
  }
}

.spring-pendulum__visualization,
.spring-pendulum__parameters,
.spring-pendulum__characteristic {
  border: 2px solid $color-default-black;
}

